<!DOCTYPE html>
<!-- chat/templates/chat/room.html -->
<html>
<head>
    <meta charset="utf-8"/>  <title>Chat Room</title>
</head>
<body>
    <textarea id="chat-log" cols="10" rows="2" style="text-align: center;" onchange="PlaySound()"></textarea><br/>
    <h1 id="context" style="text-align: center;"></h1>
</body>
<script>
    function PlaySound() {
      audioElem = new Audio();
      audioElem.src = "https://raw.githubusercontent.com/Sabanna-Hirokazu/vsBabaArashiSystem/master/chat/templates/chat/alert.mp3";
      audioElem.play();
    }
    function getRandomInt(max) {
        return Math.floor(Math.random() * Math.floor(max));
    }
    var chatSocket = new WebSocket(
        'ws://' + window.location.host + '/ws/chat/vs/');
    chatSocket.onmessage = function(e) {
        PlaySound();
        var data = JSON.parse(e.data); var message = data['message'];
        // document.querySelector('#chat-log').value += (message + '\n');
        var item = ['右１', '左１', '右２', '左２', '対面', 'no'];
        var maxValue = 6;
        var x = getRandomInt(maxValue);
        if(x==maxValue){
            document.getElementById('context').innerHTML = '';
            document.write('<img id="image" src="https://raw.githubusercontent.com/Sabanna-Hirokazu/vsBabaArashiSystem/master/chat/templates/chat/dokuro.png" width="" height="" />');
        }
        else{
            document.getElementById('context').innerHTML = item[x];
            document.getElementById('image').remove();
        }
        document.querySelector('#chat-log').value += ("シャッフル!" + '\n');
        
    };
    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };
</script>
</html>